:root {
  --primary-color: #1e88e5;
}
/* hero */
#hero {
  width: 100%;
  height: 300px;
  /* background: linear-gradient(#1e88e5, #fff); */
  background-color: #1e88e5;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 100%;
  color: #fff;
  margin: 0 auto;
  z-index: 2;
}

.hero-container h1 {
  font-size: 5rem;
}

.hero-container p {
  font-size: 1.2rem;
}

/* about */
.about {
  display: flex;
  align-items: center;
  width: 100%;
  height: 450px;
  gap: 25px;
}

.about-img {
  width: 40%;
  object-fit: contain;
}

.about-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.about-info h3 {
  width: 150px;
  color: #1e88e5;
  text-align: center;
  font-size: 1.5rem;
  border: 0.5px solid #1e88e5;
  border-radius: 50px;
  padding: 1rem;
}

.about-info h1 {
  font-size: 3rem;
}

.about-info p {
  font-size: 1.2rem;
  /* margin: 25px 0; */
}

.about-info button {
  width: 200px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #1e88e5;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  padding: 1rem;
}

/* Why */

#why-us {
  height: 800px;
}

.why-bg {
  position: absolute;
  width: 100%;
  height: 800px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.3);
  z-index: 1;
}

.why-title {
  color: #1e88e5;
  font-size: 5rem;
  text-align: center;
}

.why-subtitle {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 25px;
}

.why-list {
  display: flex;
  width: 100%;
}

.why-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 20px;
}

.why-card {
  display: flex;
  align-items: center;
  width: 500px;
  height: 120px;
  gap: 10px;
  border: 0.5px solid #1e88e5;
  border-radius: 10px;
  background-color: transparent;
  padding: 1.2rem;
}

.why-card i {
  font-size: 2rem;
  color: #1e88e5;
}

.why-card h2 {
  font-size: 1.5rem;
  color: #fff;
}

.why-card p {
  font-size: 1.2rem;
  /* color: gray; */
  color: #fff;
}

.why-column img {
  width: 300px;
  height: 100%;
  border-radius: 20px;
  object-position: center;
  object-fit: contain;
}

/* Main-Value */

#Value .container {
  color: #fff;
  margin-top: 50px;
}

#Value h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10rem;
}

#Value .container {
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

#Value .row {
  /* margin-top: 10px; */
  max-width: 25rem;
  height: 10rem;
  flex-grow: 1;
  flex-basis: 200;
  box-shadow: 0 0 25px var(--primary-color);
  border: 2.5px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 15px;
}

#Value h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#Value p {
  margin-top: 15px;
  text-align: center;
}

/* Main-Facilities */

#Facilities h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 7rem;
}

#Facilities .row {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-top: 25px;
  justify-content: center;
}

#Facilities .card {
  border: 2.5px solid var(--primary-color);
  box-shadow: 0 0 25px var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  flex-grow: 1;
  flex-basis: 200;
  max-width: 35rem;
  border-radius: 15px;
  padding: 5px;
}

#Facilities .card h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

#Facilities .card p {
  text-align: center;
}

/* Main-Story */

#Story {
  margin-top: 10%;
}

#Story h1 {
  text-align: center;
  justify-items: center;
  color: var(--primary-color);
  font-size: 2.5rem;
}

#Story p {
  justify-content: center;
  margin-bottom: 3rem;
}

#Story h2 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

#Story .Timeline {
  margin-top: 4rem;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  text-align: center;
}

#Story .row {
  max-width: 20rem;
  height: 5rem auto;
  margin-top: 1%;
  flex-grow: 1;
  flex-basis: 200;
  box-shadow: 0 0 25px var(--primary-color);
  border: 2.5px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #ffff;
  border-radius: 15px;
  padding: 10px;
}

/* Main-Management */

#Management {
  margin-top: 3%;
}

#Management h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--primary-color);
}

#Management p {
  margin-top: 15px;
}

/* End Main */

/* Small Contact */

#flying-button {
  display: none;
  position: fixed;
  display: flex;
  align-items: end;
  justify-content: right;
  width: 100%;
  height: 100%;
  padding: 1rem;
  z-index: 999;
}

.flying-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #1e88e5;
  border-radius: 20px;
  margin-bottom: 70px;
}

.flying-button a {
    font-size: 1.2rem;
    font-weight: bold;
  text-decoration: none;
  color: #1e88e5;
}

/* appointment */
#appointment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.appointment-text {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 2rem;
  width: 50%;
  height: 100%;
  gap: 25px;
  z-index: 2;
}

.appointment-bg {
  position: absolute;
  width: 100%;
  height: 400px;
  background-image: url("../img/video-bg.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: 1;
}

.appointment-btn {
    width: 210px;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 5px;
    padding: 1rem 1.5rem;
  }
