:root {
    --primary-color: #1e88e5;
    /* --secondary-color: #f8f9fa; */
    /* --accent-color: #007bff; */
}


body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--primary-color);
}



/* .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    max-width: 100%;
    height: 75px auto;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar .logo {
    font-size: 25px;
    font-weight: bold;
}

.navbar .nav-link {
    font-size: 18px;
    flex-grow: 1;
    flex-basis: 200;
}

.navbar .nav-link-form {
    font-size: 16px;
} */




/* Main-About */
#About h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 1.5%;
}

#About p {
    margin-top: 10px;
}


#About .VM{
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

#About .VM .row {
    margin-top: 30px;
    max-width: 20rem;
    max-height: 20rem;
    flex-grow: 1;
    flex-basis: 200;
    /* background-color: red; */
}


#About .VM h2 {
    text-align: center;
}

#About .VM p {
    margin-top: 15px;
    text-align: center;
}

/* Main-Why */

#Why-Us h1{
    color: var(--primary-color);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;   
}


#Why-Us .container{
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

#Why-Us .row {
    margin-top: 25px;
    max-width: 35rem;
    max-height: 35rem;
    flex-grow: 1;
    flex-basis: 200;
    /* background-color: red; */
    border-color: 10px solid red;
}


#Why-Us h2 {
    text-align: center;
    margin-bottom: 1px;
}

#Why-Us p {
    margin-top: 15px;
}

/* Main-Value */

#Value h1{
    color: var(--primary-color);
    text-align: center;
    margin-top: 100px;   
}


#Value .container{
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

#Value .row {
    margin-top: 30px;
    max-width: 20rem;
    max-height: 20rem;
    flex-grow: 1;
    flex-basis: 200;
    /* background-color: red; */
}


#Value h2 {
    text-align: center;
}

#Value p {
    margin-top: 15px;
}

/* Main-Story */

#Story {
    margin-top: 10%;
}

#Story h1{
    text-align: center;
    justify-items: center;
    color: var(--primary-color);
}

#Story p {
    justify-content: center;
}

#Story .Timeline {
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    text-align: center;
}

#Story .row {
    max-width: 20rem;
    height: 5rem auto;
    margin-top: 1%;
    flex-grow: 1;
    flex-basis: 200;
}


/* Main-Management */

#Management {
    margin-top: 3%;
}

#Management h1 {
    text-align: center;
    color: var(--primary-color);
    /* border-bottom: 5px solid var(--primary-color); */
}

#Management p {
    margin-top: 15px;
}

/* End Main */

/* Small Contact */

#flying-button{
    /* background-color: red; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50;
    display: flex;
    align-items: center;
    justify-content: right;
}

.kontak {
    background-color: var(--primary-color);
    width: fit-content;
    padding: 5px;
    font-size: 10px;
    border-radius: 10%;
}

.kontak a {
    color: #fff;
    text-decoration: none;
}
