/* form */
.form-card {
    width: 80%;
    border: 0.5px solid #1e88e5;
    margin: 0 auto;
}

.form-head {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.form-head h2 {
    color: #1e88e5;
    font-size: 3rem;
    font-weight: bolder;
}

.form-body {
    width: 100%;
    padding: 0 2rem;
    padding-bottom: 2rem;
}

.form-body form {
    display: flex;
    flex-direction: column;
}

.form-body label {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 2px;
}

.form-body input {
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;
}

.form-body select {
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;
}

.form-body option {
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;
}

.form-body textarea {
    height: 100px;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;
}

.form-body button {
    font-size: 1.2rem;
    color: #fff;
    background-color: #1e88e5;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 20px;
}

