/* search-doctor */
.search-form form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  border: 0.5px solid #1e88e5;
  gap: 10px;
  padding: 1rem;
}

.search-container {
  display: flex;
  width: 30%;
  border: 0.5px solid #1e88e5;
  border-radius: 10px;
  gap: 10px;
  padding: 0.5rem;
}

.search-container input {
  font-size: 1rem;
  border: none;
  outline: none;
}

form select {
  width: 25%;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
}

form option {
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
}

form button {
  width: 20%;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

/* card */
.doctor-row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.card {
  width: 25%;
  height: 500px;
  background-color: #1e88e5;
}

.card-img {
  width: 100%;
  height: 70%;
  background-color: aquamarine;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
