/* section */
.section-header {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.section-header p {
  color: #1e88e5;
  font-size: 1.5rem;
}

.second-section {
  background-color: #f5f5f5;
}

/* hero */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
  background-color: #7c8083;
}

.hero-container {
  position: relative;
  display: flex;
  width: 1200px;
  height: 100%;
  z-index: 2;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 800px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  color: #fff;
  text-align: start;
}

.hero-text h1 {
  font-size: 6rem;
}

.hero-text p {
  font-size: 1.2rem;
}

.hero-btn {
  display: flex;
  gap: 25px;
  margin-top: 50px;
}

.appointment-btn {
  width: 210px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 0.5px solid #fff;
  border-radius: 5px;
  padding: 1rem 1.5rem;
}

.doctor-btn {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000000;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 1.5rem;
}

.hero-img {
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* service */
#service {
    padding: 50px 0;
}

.service-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.service-card {
  width: 275px;
  height: 250px;
  color: #fff;
  padding: 2rem;
  background-color: #1e88e5;
  border-radius: 20px;
}

.service-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  font-size: 2rem;
  color: #1e88e5;
  background-color: #fff;
  border-radius: 50px;
  padding: 1.2rem;
}

.service-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 1.4rem;
  margin-top: 20px;
}

.service-text p {
  font-size: 1.2rem;
}

/* team */
#team {
  padding: 50px 0;
}

.team-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.team-card {
  width: 300px;
  height: 350px;
  padding: 1rem;
  background-color: #fff;
  /* border: 0.5px solid #1e88e5; */
  border-radius: 10px;
}

.team-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.team-text {
  font-size: 1.5rem;
  margin-top: 10px;
}

.team-text p {
  /* color: #808080; */
  color: #a9a9a9;
  font-size: 1.2rem;
}

/* appointment */
#appointment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.appointment-text {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 2rem;
  width: 50%;
  height: 100%;
  gap: 25px;
  z-index: 2;
}

.appointment-bg {
  position: absolute;
  width: 100%;
  height: 400px;
  background-image: url("../img/video-bg.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: 1;
}

/* proces */
.proces-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.proces-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  /* background-color: #1e88e5; */
}

.proces-card h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}

.proces-photo {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
}

.proces-photo img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

/* testimonial */
#testimonial {
  padding: 20px 0;
  height: 500px;
}

.testimonial-menu {
  display: flex;
  gap: 25px;
  overflow: hidden;
}

.testimonial-card {
  width: 500px;
  height: 250px;
  /* border: 0.5px solid #000000; */
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
}

.testimonial-profile {
  display: flex;
  width: 100%;
  height: 40%;
  gap: 20px;
}

.testimonial-profile img {
  width: 75px;
  height: 75px;
  border-radius: 70px;
  object-position: center;
  object-fit: cover;
}

.testimonial-info h3 {
  font-size: 2rem;
}

.testimonial-text {
  width: 100%;
  height: 60%;
  font-size: 1.2rem;
  overflow: hidden;
}
