/* hero */
.hero-container {
  width: 1200px;
}
.hero-bg {
  position: absolute;
  width: 100%;
  height: 600px;
  background-image: url("../img/");
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: 1;
}

.hero-text {
  z-index: 2;
}

.hero-btn {
}

.appointment-btn {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: #1e88e5;
  border-radius: 5px;
  padding: 1rem;
}

.doctor-btn {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  border: 0.5px solid #000000;
  border-radius: 5px;
  padding: 1rem;
}
