* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    padding-top: 60px;
}

/* section */
section {
    width: 100vw;
    height: auto;
}

/* container */
.container {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
}

/* header */
header {
    position: fixed;
    width: 100vw;
    height: 60px;
    color: #fff;
    background-color: #1e88e5;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    border-bottom: 0.5px solid transparent;
    padding: 2px 0;
    transition: border 0.5s ease;
}

.nav-link:hover {
    border-bottom: 0.5px solid #ffffff;
}

.nav-link-form {
    color: #1e88e5;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #fff;
    border: 0.5px solid #fff;
    border-radius: 5px;
    padding: 7px;
}

/* footer */
footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
}

footer .logo h1 a{
    color: #fff;
    font-size: 5rem;
    font-weight: 550;
    margin-top: 10px;
    text-decoration: none;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

footer .row ul {
    list-style-type: none;
    padding: 0;
}

footer .row ul p {
    font-size: 1.7rem;
    margin-bottom: 10px;
    font-weight: bold;
}

footer .row ul li {
    margin: 5px 0;
    text-align: left;
}

footer .row ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

footer .row ul li a:hover {
    text-decoration: underline;
}

footer .row .smol-text {
    width: 250px;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: left;
}